<!-- HEADER DESKTOP-->
<header class="header-desktop">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="header-wrap">
                <form class="form-header" action="" method="POST">
                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                    <button class="au-btn--submit" type="submit">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </form>
                <div class="header-button">
                    <div class="account-wrap">
                        <div class="account-item clearfix js-item-menu">
                            <div class="image">
                                {% if app.user.profileImg %}
                                    <img style="border-radius: 50%;" src= "{{ asset('Upload/Images/' ~ app.user.profileImg.location ) }}"  />
                                {% else %}
                                    <img style="border-radius: 50%" src= "{{ asset('Upload/Images/no-profile-pic-icon-5.jpg/') }}"  />
                                {% endif %}
                            </div>
                            <div class="content">
                                <a class="js-acc-btn" href= "{{ asset('assets/admin') }}/#">{{ app.user.username }}</a>
                            </div>
                            <div class="account-dropdown js-dropdown">
                                <div class="info clearfix">
                                    <div class="image">
                                        <a href= "{{ asset('assets/admin') }}/#">
                                            {% if app.user.profileImg %}
                                                <img src= "{{ asset('Upload/Images/' ~ app.user.profileImg.location ) }}"  />
                                            {% else %}
                                                <img style="border-radius: 100%" src= "{{ asset('Upload/Images/no-profile-pic-icon-5.jpg/') }}"  />
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h5 class="name">
                                            <a href= "{{ asset('assets/admin') }}/#">{{ app.user.username ~ " " ~ app.user.surname }}</a>
                                        </h5>
                                        <span class="email">{{ app.user.email }}</span>
                                    </div>
                                </div>
                                <div class="account-dropdown__body">
{#                                    <div class="account-dropdown__item">#}
{#                                        <a href= "{{ asset('assets/admin') }}/#">#}
{#                                            <i class="zmdi zmdi-account"></i>Account</a>#}
{#                                    </div>#}
{#                                    <div class="account-dropdown__item">#}
{#                                        <a href= "{{ asset('assets/admin') }}/#">#}
{#                                            <i class="zmdi zmdi-settings"></i>Setting</a>#}
{#                                    </div>#}
{#                                    <div class="account-dropdown__item">#}
{#                                        <a href= "{{ asset('assets/admin') }}/#">#}
{#                                            <i class="zmdi zmdi-money-box"></i>Billing</a>#}
{#                                    </div>#}
                                    <div class="account-dropdown__footer">
                                        <a href= "{{ path('logout') }}/#">
                                            <i class="zmdi zmdi-power"></i>Logout</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER DESKTOP-->