{% extends 'base.html.twig' %}

{% block title %}Odr{% endblock %}

{% block body %}
    <h1>Odr</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ odr.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ odr.amount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ odr.status }}</td>
            </tr>
            <tr>
                <th>Ordered_at</th>
                <td>{{ odr.orderedAt ? odr.orderedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('odr_index') }}">back to list</a>

    <a href="{{ path('odr_edit', {'id': odr.id}) }}">edit</a>

    {{ include('odr/_delete_form.html.twig') }}
{% endblock %}
