<!-- top header -->
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<ul class="d-lg-flex header-w3_pvt">
					<li class="mr-lg-3">
						<span class="fa fa-envelope-open"></span>
						<a href="mailto:info@crispy.com" class="">{{ setting.email }}</a>
					</li>
					<li>
						<span class="fa fa-phone"></span>
						<p class="d-inline">Call Us {{ setting.tel }}</p>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 header-right-w3_pvt">
				<ul class="d-lg-flex header-w3_pvt justify-content-lg-end">
					<li class="">
						<span class=""><span class="fas fa-clock"></span>Mon - Sun : 11:00am to 12:00pm</span>
					</li>
					{% if app.user %}
					<li class="">
						| <span class=""><span class="fas fa-clock"></span><a href="{{ path('logout') }}" style="color: dodgerblue;" ><u>Log Out</u></a></span>
					</li>
					{% else %}
						<li class="">
							| <span class=""><span class="fas fa-clock"></span><a href="{{ path('register_user') }}" style="color: dodgerblue;" ><u>Register</u></a></span>
						</li>
					{% endif %}


				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //top header -->

<!-- //header -->
<header class="py-sm-3 pt-3 pb-2">
	<div class="container">
			<div id="logo">
				<h1> <a href="{{ path('front.index') }}"><span class="fa fa-cutlery" aria-hidden="true"></span> Crispy</a></h1>
			</div>
		<!-- nav -->
		<nav class="d-lg-flex">

			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-2 ml-auto">
				<li class="active"><a href="{{ path('front.index') }}">Home</a></li>
				<li class=""><a href="{{ path('front.aboutUs') }}">About Us</a></li>
				<li class=""><a href="{{ path('front.prefrences') }}">Prefrences</a></li>
{#				<li class=""><a href="#">Our Meals</a></li>#}
{#				<li class=""><a href="#">Gallery</a></li>#}
{#				<li class=""><a href="#">Blog</a></li>#}
				<li class=""><a href="{{ path('front.contactus') }}">Contact Us</a></li>
				{% if app.user %}
				<li class="">

					<a href="{{ path('front.user-cart') }}" style="width: 15px; height: 15px;">
						<div class="noti__item js-item-menu d-inline-block">
							<i class="fa fa-shopping-cart"></i>
							<span class="quantity" id="cart-amount">{{ cart_count }}</span>
						</div>
					</a>
				</li>

				{% else %}
					<li class=""><a href="{{ path('app_login') }}">Sign In</a></li>
				{% endif %}
			</ul>
			<div class="ml-2">
				{% if app.user %}
					<body>
					<div class="container">
						<div class="d-flex justify-content-center h-100">
							<div class="image_outer_container">
								<div class="green_icon"></div>
								<div class="image_inner_container">
									<a href="{{ path('front.user-general') }}" style="">
										{% if app.user.profileImg %}
										<img src="{{ asset('Upload/Images') }}/{{ app.user.profileImg.location }}">
										{% else %}
										<img src="{{ asset('Upload/Images/no-profile-pic-icon-5.jpg') }}">
										{% endif %}

									</a>
								</div>
							</div>
						</div>
					</div>
					</body>
				{% endif %}
			</div>
			<div class="login-icon ml-2">
				<a class="user" href="{{ path('front.meal-category') }}">Order Meals</a>
			</div>

		</nav>
		<div class="clear"></div>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->




