{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(form) }}#}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>Edit Settings</h4>
        </div>

        <div class="card-body">
            <form action="" name="settings" method="post">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" id="general-tab" data-toggle="tab" href="#general" role="tab"
                       aria-controls="general" aria-selected="true">General</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="contactinfo-tab" data-toggle="tab" href="#contactinfo" role="tab"
                       aria-controls="contactinfo" aria-selected="false">Contact Info</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="emailServer-tab" data-toggle="tab" href="#emailServer" role="tab"
                       aria-controls="emailServer" aria-selected="false">Email Server</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="aboutUs-tab" data-toggle="tab" href="#aboutUs" role="tab"
                       aria-controls="aboutUs" aria-selected="false">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                       aria-controls="contact" aria-selected="false">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="references-tab" data-toggle="tab" href="#references" role="tab"
                       aria-controls="references" aria-selected="false">References</a>
                </li>
            </ul>

            <div class="tab-content pl-3 p-1 py-4" id="myTabContent">
{#                general#}
                <div class="tab-pane fade active show" id="general" role="tabpanel" aria-labelledby="general-tab">

                    {#Title Name#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="name" class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.title ? setting.title : "" }}" type="text" id="name" name="settings[title]"
                                   placeholder="Setting Name"
                                   class="form-control">
                            <small class="help-block form-text">Name of the setting</small>
                        </div>
                    </div>

                    {#Company Name#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="companyName" class=" form-control-label">Company's/Website's Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.firmname ? setting.firmname : "" }}" type="text" id="companyName" name="settings[firmname]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">The name of the company that will show on website.</small>
                        </div>
                    </div>

                    {#Description#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Description" class=" form-control-label">Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea  name="settings[description]" id="Description" cols="30" rows="3" class="form-control">{{ setting.description ? setting.description : '' }}</textarea>
                            <small class="help-block form-text">Description of the page</small>
                        </div>
                    </div>

                    {#Keywords#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Keywords" class=" form-control-label">Keywords</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="settings[keywords]" id="Keywords" cols="30" rows="3" class="form-control">{{ setting.keywords ? setting.keywords : '' }}</textarea>
                            <small class="help-block form-text">Eg., Food, Fast Food, Drink, etc (Please User Coma)</small>
                        </div>
                    </div>

                </div>

{#                ContactInfo#}
                <div class="tab-pane fade" id="contactinfo" role="tabpanel" aria-labelledby="contactinfo-tab">

                    {#Address#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Address" class=" form-control-label">Company's Address</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <textarea name="settings[address]" id="Address" cols="30" rows="3" class="form-control">{{ setting.address ? setting.address : '' }}</textarea>
                            <small class="help-block form-text">The Address of the company (Please User Coma)</small>
                        </div>
                    </div>

                    {#Telefon Number#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="telephone" class=" form-control-label">Telephone Number</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.tel ? setting.tel : "" }}" type="text" id="telephone" name="settings[tel]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Telephone Number</small>
                        </div>
                    </div>

                    {#Fax Number#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="fax" class=" form-control-label">Fax Number</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.fax ? setting.fax : "" }}" type="text" id="fax" name="settings[fax]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Fax Number</small>
                        </div>
                    </div>

                    {#Email#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Email" class=" form-control-label">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.email ? setting.email : "" }}" type="text" id="Email" name="settings[email]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Email Address of the Company</small>
                        </div>
                    </div>

                    {#Facebook#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Facebook" class=" form-control-label">Facebook URL</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.facebook ? setting.facebook : "" }}" type="text" id="Email" name="settings[facebook]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Facebook URL of the Company</small>
                        </div>
                    </div>

                    {#Twitter#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Twitter" class=" form-control-label">Twitter URL</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.twitter ? setting.twitter : "" }}" type="text" id="Twitter" name="settings[twitter]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Twitter URL of the Company</small>
                        </div>
                    </div>

                    {#Instagram#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Instagram" class=" form-control-label">instagram URL</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.instagram ? setting.instagram : "" }}" type="text" id="Twitter" name="settings[instagram]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Instagram URL of the Company</small>
                        </div>
                    </div>

                    {#Linkedin#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="Linkedin" class=" form-control-label">Linkedin URL</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.linkedin ? setting.linkedin : "" }}" type="text" id="Twitter" name="settings[linkedin]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">Linkedin URL of the Company</small>
                        </div>
                    </div>

                </div>

{#                emailServer#}
                <div class="tab-pane fade" id="emailServer" role="tabpanel" aria-labelledby="emailServer-tab">

                    {#SMTP Server#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="smtpserver" class=" form-control-label">SMTP Server</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.smtpserver ? setting.smtpserver : "" }}" type="text" id="smtpserver" name="settings[smtpserver]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">SMTP Server of the Company</small>
                        </div>
                    </div>

                    {#SMTP Email#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="smtpmail" class=" form-control-label">SMTP Mail</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.smtpemail ? setting.smtpemail : "" }}" type="text" id="smtpmail" name="settings[smtpemail]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">SMTP Mail of the Company</small>
                        </div>
                    </div>

                    {#SMTP Port#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="smtpport" class=" form-control-label">SMTP Server</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.smtpport ? setting.smtpport : "" }}" type="number" id="smtpport" name="settings[smtpport]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">SMTP Port Number of the Company</small>
                        </div>
                    </div>

                    {#SMTP Password#}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="smtppassword" class=" form-control-label">SMTP Password</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input value="{{ setting.smtppasw ? setting.smtppasw : "" }}" type="text" id="smtppassword" name="settings[smtppasw]"
                                   placeholder=""
                                   class="form-control">
                            <small class="help-block form-text">SMTP Server of the Company</small>
                        </div>
                    </div>
                </div>

{#                aboutUs#}
                <div class="tab-pane fade" id="aboutUs" role="tabpanel" aria-labelledby="aboutUs-tab">
                    <small class="help-block form-text m-b-3">All the Things (with the same format) that written here will be shown in <b>ABOUT US PAGE</b>.</small>
                    <br>
                    <textarea name="settings[aboutus]" class="ckeditor" id="" cols="30" rows="10">{{ setting.aboutus ? setting.aboutus : '' }}</textarea>
                </div>

{#                Contact#}
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <small class="help-block form-text m-b-3">All the Things (with the same format) that written here will be shown in <b>CONTACT PAGE</b>.</small>
                    <br>
                    <textarea name="settings[contact]" class="ckeditor" id="" cols="30" rows="10">{{ setting.contact ? setting.contact : '' }}</textarea>
                </div>

{#                references#}
                <div class="tab-pane fade" id="references" role="tabpanel" aria-labelledby="references-tab">
                    <small class="help-block form-text m-b-3">All the Things (with the same format) that written here will be shown in <b>REFRENCES PAGE</b>.</small>
                    <br>
                    <textarea name="settings[contact]" class="ckeditor" id="" cols="30" rows="10">{{ setting.contact ? setting.contact : '' }}</textarea>
                </div>

            </div>
        </div>





